<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <title>US Time Zone Display</title>
</head>
<body>
  <div class="jumbotron text-center" >
    <h1>US Time Zone Display</h1>    
  </div>

  <div class="container-fluid">    
    <button class="btn btn-outline-primary btn-lg" (click)="onButtonClick('pst')" [ngClass]='{"selected": "pst"==zone}'>PST</button>      
    <button class="btn btn-outline-primary btn-lg" (click)="onButtonClick('mst')" [ngClass]='{"selected": "mst"==zone}'>MST</button>
    <button class="btn btn-outline-primary btn-lg" (click)="onButtonClick('cst')" [ngClass]='{"selected": "cst"==zone}'>CST</button>
    <button class="btn btn-outline-primary btn-lg" (click)="onButtonClick('est')" [ngClass]='{"selected": "est"==zone}'>EST</button>
    <button class="btn btn-outline-primary btn-lg" (click)="onButtonClick('clear')" [ngClass]='{"selected": "clear"==zone}'>Clear</button>
  </div>

  <div class="container text-center" style="margin-top:40px">
    <h2 class="bold">{{ date | date:'medium' : zone}}</h2>
  </div>
</body>
</html>